@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Italiana', 'Roboto'; */
    font-family: 'Zen Antique', serif;

}

a{
    text-decoration: none;
}

.dark-theme .title , 
.dark-theme .section__title,
.dark-theme .section__sub-title,
.dark-theme .nav__link--anchor,
.dark-theme .fa-adjust,
.dark-theme .header__para{
    color: white;
}

.dark-theme #personal-logo {
    filter:invert(1)
}

.dark-theme section{
    /* background-color: #242424; */
    background-color: black;
}

.dark-theme .scroll__icon,
.dark-theme .link__hover-effect:after{
    border-color: white;
}

.dark-theme .mail__btn {
    background-color: white;
    color: black;
}





.click{
    cursor: pointer;
    transition: all 30ms ease;
}

.click:hover{
    transform: scale(1.1);
}

.click:active{
    transform: scale(0.8);
}

section{
    background-color:white ;
    /* background-color: black; */
    transition: all 300ms ease;
}

.container{
    padding: 50px 0;
}

.row{
    width: 100%;
    max-width: 1100px ;
    margin: 0 auto;
    padding: 0 12px;
}

button{
    cursor: pointer;
}

.scroll{
    position: absolute;
    bottom: 20px ;
    left: 50%;
    transform: translateX(-50%);
}

.scroll__icon{
    width: 20px;
    height: 30px;
    border: 2px solid black ;
    border-radius: 24px ;
    display: flex;
    align-items: center;
    justify-content: center;

}

.scroll__icon:after{
    content: "";
    width: 4px;
    height: 6px;
    background-color: #FF1493;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
    0%{
        transform: translateY(3px);
    }

    100%{
        transform: translateY(-3px);
    }
}

.link__hover-effect{
    position: relative;
}

.link__hover-effect:after{
    content:"" ; 
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: black;
    transition: all 300ms ease;
}

.link__hover-effect--white:after{
    background-color: #FF1493;
}

.link__hover-effect--black:after{
    background-color: black;
}

.link__hover-effect:hover:after{
    left: 0;
    width: 100%;
}

nav , .scroll,  .header {
    opacity: 1;
    visibility: visible;
    transition: all 600ms;
}



.modal--open nav ,
.modal--open .scroll,
.modal--open .header {
    opacity: 0;
    visibility: hidden;
    transition: all 200ms;
}


/* 

NAVIGATION 

*/




#personal-logo{
    width: 300px;
    height: 200px;
    /* filter:invert(1) */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    width: 100%;
    max-width: 1200px ;
    margin: 0 auto;
    height: 200px;
    padding: 0 20px;
}

.nav__link--list{
    display: flex;
}

.nav__link{
    margin: 0 12px;
}

.nav__link--anchor{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

li{
    list-style-type: none;
}

.fa-adjust{
    font-size: 30px;
}

/* 

LANDING PAGE 

*/

#landing-page{
    min-height: 100vh;
}

.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}

.title{
    font-size: 76px;
    margin-bottom: 12px;
    text-align: center;
    line-height: 1;
}

.header__para{
    text-align: center;
    font-size: 20px;
    line-height: 2;
    margin: 0 auto;
    /* max-width: 450px; */
}

.title__second{
    color: #FF1493;
    font-size: 76px;
    margin-bottom: 12px;
    text-align: center;
    line-height: 1;
    /* color: black; */
}

.highlight{
    color: black;
}

p{
    line-height: 1.5;
    font-size: 16px;
    max-width: 450px;
    text-align: center;
}

.social__list{
    margin-top: 16px;
    display: flex;
    justify-content: center;

}

.social__link{
    text-decoration: none;
    /* background-color: #FF1493; */
    background-color: black;
    color: white;
    padding: 6px;
    width: 52px;
    height: 52px;
    font-size: 24px;
    margin-right: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-width: 3px;
    /* border-color: #FF1493; */
    border-style: solid;
}

.mail__btn{
    width: 70px ;
    height: 70px;
    font-size: 32px ;
    border-radius:50% ;
    /* background-color:#FF1493; */
    background-color: black;
    border-style: solid;
    color: white;
    position: absolute;
    bottom: 32px;
    right: 40px;
}


/* 

PROJECTS

*/

.project{
    display: flex;
    justify-content: center;
    margin-bottom: 135px;
}

.section__title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
}

.project__img{
    width: 100%;
    transition: all 600ms ease ;
}

.project:hover .project__img{
    transform: scale(1.07);
    filter: blur(5px);
}



.project__wrapper{
    position: relative;
    border-radius: 10px;
    box-shadow: 0 20px 80px 0px;
    overflow: hidden;
    width: 850px;
    height: 450px;
    display: flex;
    justify-content: center;
}

.project__wrapper:hover .project__description{
    opacity: 1;
    transform: translateY(-50%);
}

.project__wrapper:hover .project__img{
    transform: scale(1.07);
    filter: blur(5PX);
}

.project__description--title{
    font-size: 40px;
}

.project__description--sub-title{
    margin: 8px 0px;
    color: #FF1493;
}


.project__description{
    position: absolute;
    top: 50%;
    left:90px;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 300ms, transform 400ms ease;
    color: white;
    max-width: 550px;
}

.project__description--para{
    text-align: left;
    margin: 16px 0px;

}

.project__wrapper:hover .project__wrapper--bg{
    opacity: 0.7;
}

.project__wrapper--bg{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
}

.project__description--link{
    color: white;
    font-size: 20px;
    margin-right: 16px ;
    text-decoration: none;
}

/* 

FOOTER

*/

footer{
    background-color: black;
    display: flex;
    padding: 2% 0;
    justify-content: center;
}

.logo__footer{
    filter:invert(1);
    width: 300px;
    height: 200px;
}

.footer__row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__copyright{
    color: white;
}

.footer__social--list{
    width: 100%;
    display: flex;
    max-width: 500px;
    justify-content: space-around;
    margin: 28px 0 ;

}

.footer__social--link{
    color: #FF1493;
    text-decoration: none;
    padding: 0 20px ;

}

/* 

MODAL

*/


.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    max-width: 900px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibilty 1s, z-index 1s , box-shadow 0.5s ease ;
}

.modal--open .modal{
    z-index:60;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    visibility: visible;
}

.modal__half{
    width: 50%;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 300ms ease-in;

}

.modal--open .modal__about,
.modal--open .modal__contact{
    transform: translateX(0%);
}

.modal__about{
    background-color: #FF1493;
    transform: translateX(-110%);
}

.modal__title{
    font-size: 20px;
    padding-left: 20px;
}

.modal__para{
    margin-bottom: 12px;
    line-height: 1.75;
}

.modal__contact{
    background-color: black;
    color: white;
    transform: translateX(110%);
    transition: all 300ms ease-in;


}

.modal__title--contact{
    padding-bottom: 20px;
}


/* input,textarea{
    width: 100%;
    outline: none;
    border: 3px solid white;
    background-color: black;
    border-top: none ;
    border-left: none;
    border-top: none;
    border-right: none;
    color: white;
    height: 40px;
    transition: all 300ms ease;
} */

/* textarea{
    resize: vertical;
    height: 100px;
    padding: 15px;
    margin-top: 8px ;
} */

label{
    font-size: 14px;
}

.form__item{
    margin-bottom:20px ;
}

.form__submit{
    background-color: #FF1493;
    border: 2px solid white;
    color: black;
    font-weight: 700;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    font-size: 20px;
    transition: all 300ms ease;
    margin-left: 20px;
}

.form__submit:hover{
    border-color: white;
    background-color: transparent;
    color: white;
}

.form__submit:active{
    border-color: #FF1493;
    color: #FF1493;
}

input:hover, textarea:hover{
    border-color: white;
}

input:focus, textarea:focus{
    border-color:#FF1493 ;
}

/* .modal__overlay{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;

}

.modal__overlay--loading{
    background-color: #FF1493;
    font-size: 80px ;
}


.modal__overlay--success{
    background-color: #FF1493;
    font-size: 40px;
    text-align: center;
    padding: 50px ;

} */

/* .modal__overlay--visible{
    z-index: -1;
} */


.fa-spinner{
    animation: spinner 750ms infinite linear;
}

@keyframes spinner{
    0%{
        transform: rotate(0);;
    }

    100%{
        transform: rotate(360deg);
    }
}


.modal__exit{
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 36px;
    z-index: 100;
}




